.carouselItem{
    margin: auto;
    width:65vw;
    height:auto;
    margin-bottom:8vh;
}
.heroo{
    width:95vw;
}
.font{
    color:#808ece;
}
.hero{
    background-color: #3a52be65;
    box-shadow:3px 3px 9px -2px rgba(0,0,0,0.94);
    border-radius: 1rem;
    width:50vw;
}
.year{
    color:#13d7e6;
}
.owl-carousel{
    positioN:relative;
  
  }
  .owl-nav{
    position:absolute;
    z-index:1;
    top:50%;
    width:100%;
  
  }
  .owl-nav .owl-prev span{
    font-size:3rem;
   padding:0 1.5rem;
    position:absolute;
   left:0;
   top:-150%;
  }
  .owl-nav .owl-next span{
    font-size:3rem;
    padding:0 1.5rem;
    position:absolute;
    right:0;
    top:-150%;
  }
  .owl-nav span{
    background-color: rgba(41, 41, 148, 0.418);
    border-radius:0.5rem;
  }


@media only screen and (min-width:320px) and (max-width:800px)  {
    .carouselItem{
        width:90vw;
        padding:1rem;
        margin-top:3rem;
        background-color: rgba(222, 220, 245, 0.308);
        box-shadow:3px 3px 9px -2px rgba(0,0,0,0.94);
        border-radius:1.12rem;
    }
    .owl-nav .owl-next span, .owl-nav .owl-prev span{
        display:none;
    }
    .owl-dots{
        position:absolute;
        top:1rem;
        left:50%;
        transform: translateX(-50%);
    }
  }
  @media only screen and (min-width:320px) and (max-width:800px) and (orientation:landscape) {
    .carouselItem{
        padding:1.5rem;
    }

  }