.wrap{

    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto 8vh auto;
    padding:0 15px;
    text-align: center;
    position: relative;
  }
  .hi{
    display:flex;
    justify-content: center;
    
  }
  
  .emoji{
    font-size:1.9rem;
  }
  p{
    font-size:1.2rem;
  }
  .name{
    opacity:0;
  }
  .interests{
    opacity:0;
  }

  h2{
    text-align: center;
    opacity:0;
  }
  .D, .V{
    color:#808ece;
    font-weight:bold;
  }
  .stack{
    text-align: center;
    opacity:0;
  
  }
  @media only screen and (max-width: 900px)  and (orientation: landscape){
  
  
  .custom-shape-divider-bottom-1639539052{
    display:none;
  }
  }
  
  
  
   
  
  @media only screen and (max-width: 550px){
    .custom-shape-divider-bottom-1639539052{
      display:none;
    }
    .introContainer{
      min-height:100%;
    }
  }
  
 
  
  
  
  
  
  
