.navigation{
    position:fixed;
    top:0;
    left:-50vw;
    z-index:100;
    background-color: #12163b;
    transition:300ms ease-in; 
    min-width:50vw;
    height:100vh;
    box-shadow:3px 3px 9px -2px rgba(0,0,0,0.94);
}
.navigation.active{
    left:0;
    transition:300ms ease-in; 
}
.overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:10;
    background-color: #9b8cf059;
    opacity:0;
    visibility: hidden;
    transition:300ms ease-in; 
}
.overlay.active{
   visibility: visible;
    opacity:1;
   
}
.lines{
    position:relative;
    height:50px;
}
.lineswrap{
    height:50px;
    width:78px;
    padding:0.3rem;
    position:absolute;
    right:-78px;
    top:0;
    cursor: pointer;
}
.line{
    height:2px;
    width:28.5px;
    background-color: #fff;
    margin:.5rem;
    transition:all .4s ease-in-out;
}
.line1{
    transition:all .4s ease-in-out;
}
.line1.active{
    transform: rotate(45deg);
    transform-origin:  left center;
}

.line2{
    bottom:15px;
    transition:all .4s ease-in-out;
}
.line2.active{
    width:0;
}
.line3{
    top:-15px;
    transition:all .4s ease;
}
.line3.active{
    transform: rotate(-45deg);
    transform-origin:  left center;
}
.navlinks{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    height:100%;
}
 .socials {
   position:absolute;
   bottom:15%;
   left:10%;
}
.navlinks li{
    padding-top:1.2rem;
    padding-bottom: 1.2rem;
}

.navlinks li:hover{
    color:#3a52be;
    transition:color .3s ease;
}
select{
    margin:0.7rem;
    background-color: rgb(50, 63, 102);
    color:white;
    font-weight: 600;
    font-family: "Poppins";
    border:1px solid rgba(255, 255, 255, 0.363);
}


@media only screen and (max-width: 550px){
    .navigation{
      display:none;
    }
    .overlay{
        display:none;
    }
  }

  @media only screen and (max-width:800px)  and (orientation: landscape){
  .overlay{
      height:110vh;
  }
}

  .socials{
    text-align: center;
    padding:.4rem 0;
  }
  .socials .icon{
    font-size:1.6rem;
    margin-right:1rem;
  }
  
  .icon:hover, .icon1:hover{
    color:#3a52be;
    cursor:pointer;
    transition:color .3s ease;
  }
  .icon1{
    font-size:1.6rem;
  }


  
