.navigation{
    position:fixed;
    top:0;
    left:-50vw;
    z-index:100;
    background-color: #12163b;
    height:100%;
    transition:300ms ease-in; 
    min-width:50vw;
}
.navigation.active{
    left:0;
    transition:300ms ease-in; 
}

.lines{
    position:relative;
    height:50px;
}
.lineswrap{
    height:50px;
    width:78px;
    padding:0.3rem;
    position:absolute;
    right:-78px;
    top:0;
    cursor: pointer;
}
.line{
    height:2px;
    width:29px;
    background-color: #fff;
    margin:.5rem;
    transition:all .4s ease-in-out;
}
.line1{
    transition:all .4s ease-in-out;
}
.line1.active{
    transform: rotate(45deg);
    transform-origin:  left center;
}

.line2{
    bottom:15px;
    transition:all .4s ease-in-out;
}
.line2.active{
    width:0;
}
.line3{
    top:-15px;
    transition:all .4s ease;
}
.line3.active{
    transform: rotate(-45deg);
    transform-origin:  left center;
    
    
}
.navlinks{
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.navlinks li{
    padding:1rem;
    margin:1rem 0.5rem;
    text-align: center;
}
.navlinks li:hover{
    color:#3a52be;
    transition:color .3s ease;
}
@media only screen and (max-width: 550px){
    .navigation{
      display:none;
    }
  }

  .socials{
    text-align: center;
    padding:.4rem 0;
  
    
  }
  .socials .icon{
    font-size:1.6rem;
    
    margin-right:1rem;
  }
  
  .icon:hover, .icon1:hover{
    color:#3a52be;
    cursor:pointer;
    transition:color .3s ease;
  }
  .icon1{
    font-size:1.6rem;
    
  }


  
