*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body{
  background-color: #1e2036;
  color:#fff;

  
}
.wrap{
  height:100vh;
  width:95vw;
  margin:0 auto;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.introContainer{
  display:flex;
}
.emoji{
  font-size:2rem;
}

h1{
  margin:0.4rem 1rem;
}
.name{
  margin:2.4rem ;
  font-size:1.2rem;
  opacity:0;
}
h3{
  margin:0.4rem ; 
  text-align: center;
  opacity:0;
}
.D, .V{
  color:#28e7a7;
  font-weight:bold;
}
.stack{
  text-align: center;
  width:100%;
  display:flex;
  justify-content: center;
  opacity:0;
  
}



@media only screen and (max-width: 813px) and (orientation: landscape){

.icon{
   position:relative;
 
 }
.custom-shape-divider-bottom-1639539052{
  display:none;
}
.wrap{
  
  margin:2.5rem auto;
}
 .socialsWrap{
   height:200px;
   width:400px;
   position:relative;
 }
 #stack{

   margin: 1rem;
 }
}





.socialsWrap{
  text-align: center;
  min-height:100px;
  margin-top:1.5rem;
  bottom:0;
  left:10%;
}
.socialsWrap .icon{
  font-size:2.5rem;
  margin:0.9rem 0.3rem;
  position:absolute;
  z-index:100;
  right:25px;
  opacity:0;
}

.icon:hover, .icon1:hover{
  color:#28e7a7;
  cursor:pointer;
  transition:color .3s ease;
}
.icon1{
  font-size:2.5rem;
  margin:0.9rem 0.3rem;
  position:absolute;
  z-index:100;
 right:95px;
  opacity:0;
}
.custom-shape-divider-bottom-1639539052 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index:-1
}

.custom-shape-divider-bottom-1639539052 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 283px;
}

.custom-shape-divider-bottom-1639539052 .shape-fill {
  fill: #28e7a7;
}
.custom-shape-divider-top-1639539555 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1639539555 svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1639539555 .shape-fill {
  fill: #28e7a7;
}

