*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body{
  background-color: #1e2036;
  color:#fff;
  height:100vh;
  
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:#fff;
}

.custom-shape-divider-bottom-1639539052 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639539052 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 183px;
}

.custom-shape-divider-bottom-1639539052 .shape-fill {
  fill: #3a52be;
}
.custom-shape-divider-top-1639539555 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1639539555 svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1639539555 .shape-fill {
  fill: #3a52be;
}

